Repository FiligranHQ/xtm-browser-extension: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration-opencti, integration-openaev

chore: update Renovate config to be aligned with other Filigran products (#158) (#159)
  renovate.json
  renovate.json5
Due: none

fix(openaev): omit cookies from API requests to avoid CSRF 403
  src/shared/api/openaev-client.ts
Due: unittests, integration-opencti, integration-openaev

chore: update Renovate config to automerge minor version updates and dev deps (#158)
  renovate.json5
Due: none

fix: adress review remarks
  README.md
  src/options/components/Sidebar.tsx
  src/popup/App.tsx
  src/popup/hooks/useSetupWizard.ts
  tests/e2e/setup-wizard.spec.ts
Due: unittests

fix(openaev): omit cookies from API requests to avoid CSRF 403 (#170)
  src/shared/api/openaev-client.ts
Due: unittests, integration-opencti, integration-openaev

Release 0.0.23
  CHANGELOG.md
  package-lock.json
  package.json
  src/manifest.chrome.json
  src/manifest.edge.json
  src/manifest.firefox.json
  src/shared/constants.ts
Due: unittests, integration-opencti, integration-openaev

chore(release): release v0.0.23 (#173) (#172)
  CHANGELOG.md
  package-lock.json
  package.json
  src/manifest.chrome.json
  src/manifest.edge.json
  src/manifest.firefox.json
  src/shared/constants.ts
Due: unittests, integration-opencti, integration-openaev

feat(container): surface partial entity creation failures to the UI
  src/background/handlers/container-handlers.ts
  src/panel/App.tsx
  src/panel/hooks/useContainerActions.ts
  src/panel/hooks/useContainerState.ts
  src/panel/types/view-props.ts
  src/panel/views/OCTIEntityView.tsx
  src/panel/views/OCTIImportResultsView.tsx
  tests/unit/container-handlers.test.ts
Due: unittests, integration-opencti, integration-openaev

style: fix trailing whitespace and normalize formatting on some files
  package-lock.json
  src/background/handlers/container-handlers.ts
  src/panel/App.tsx
  src/panel/hooks/useContainerActions.ts
  src/panel/hooks/useContainerState.ts
  src/panel/types/view-props.ts
  src/panel/views/OCTIEntityView.tsx
  src/panel/views/OCTIImportResultsView.tsx
Due: unittests, integration-opencti, integration-openaev

refactor(container): use null slots for stable relationship indices
  src/background/handlers/container-handlers.ts
  src/panel/hooks/useContainerActions.ts
  src/panel/hooks/useContainerState.ts
  src/panel/types/view-props.ts
  src/panel/views/OCTIEntityView.tsx
  src/shared/types/scan.ts
  tests/unit/container-handlers.test.ts
Due: unittests, integration-opencti, integration-openaev

style(panel): improve failed items section visibility in import results
  src/panel/views/OCTIImportResultsView.tsx
Due: none

fix(api): use correct field keys in buildValueFilter per observable type
  docs/README.md
  src/shared/api/opencti/queries.ts
  tests/unit/opencti-client.test.ts
Due: unittests, integration-opencti, integration-openaev

chore(release): bump version to 0.1.0 and fill changelog (#178)
  CHANGELOG.md
  package-lock.json
  package.json
  src/manifest.chrome.json
  src/manifest.edge.json
  src/manifest.firefox.json
  src/shared/constants.ts
Due: unittests, integration-opencti, integration-openaev

Update CHANGELOG.md
  CHANGELOG.md
Due: none

chore(release): bump version to 0.1.0 and fill changelog (#178) (#179)
  CHANGELOG.md
  package-lock.json
  package.json
  src/manifest.chrome.json
  src/manifest.edge.json
  src/manifest.firefox.json
  src/shared/constants.ts
Due: unittests, integration-opencti, integration-openaev

refactor(api): replace `object` return types with `OpenctiFilterGroup`
  src/shared/api/opencti/queries.ts
  src/shared/api/opencti/types.ts
  tests/unit/opencti-client.test.ts
Due: unittests, integration-opencti, integration-openaev

fix(api): use correct field keys in buildValueFilter per observable type (#176) (#183)
  docs/README.md
  src/shared/api/opencti/queries.ts
  src/shared/api/opencti/types.ts
  tests/unit/opencti-client.test.ts
Due: unittests, integration-opencti, integration-openaev

feat(container): show creation failure to user in container creation (#175) (#180)
  package-lock.json
  src/background/handlers/container-handlers.ts
  src/panel/App.tsx
  src/panel/hooks/useContainerActions.ts
  src/panel/hooks/useContainerState.ts
  src/panel/types/view-props.ts
  src/panel/views/OCTIEntityView.tsx
  src/panel/views/OCTIImportResultsView.tsx
  src/shared/types/scan.ts
  tests/unit/container-handlers.test.ts
Due: unittests, integration-opencti, integration-openaev

feat(draft): pre-create draft workspace before seeding entities
  src/background/handlers/container-handlers.ts
  src/shared/api/opencti-client.ts
  src/shared/types/opencti.ts
Due: unittests, integration-opencti, integration-openaev

test(draft): add unit tests for draft workspace creation and propagation
  tests/unit/container-handlers.test.ts
  tests/unit/opencti-client.test.ts
Due: none

fix(draft): draft observables creation respect draft mode setting (#181) (#182)
  src/background/handlers/container-handlers.ts
  src/shared/api/opencti-client.ts
  src/shared/types/opencti.ts
  tests/unit/container-handlers.test.ts
  tests/unit/opencti-client.test.ts
Due: unittests, integration-opencti, integration-openaev

fix(deps): declare dompurify as a direct dependency
  package-lock.json
  package.json
Due: none

fix(security): resolve aikido findings (#205)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  package-lock.json
  scripts/build.js
  src/content/extraction.ts
  src/panel/App.tsx
  src/panel/hooks/useContainerActions.ts
  src/panel/utils/description-helpers.ts
  src/panel/views/OAEVAtomicTestingView.tsx
  src/panel/views/OAEVEntityView.tsx
  src/panel/views/OAEVScenarioView.tsx
  src/panel/views/OCTIEntityView.tsx
  src/panel/views/OCTIImportResultsView.tsx
  src/pdf-scanner/App.tsx
  src/shared/extraction/content-extractor.ts
  src/shared/extraction/pdf-generator.ts
  src/shared/utils/safe-url.ts
  src/shared/utils/sanitize.ts
  tests/unit/safe-url.test.ts
  tests/unit/sanitize.test.ts
Due: unittests, integration-opencti, integration-openaev

fix(security): bump pdfjs-dist to 6.x (#205)
  package-lock.json
  package.json
Due: none

test(security): assert the sanitizer keeps extraction attributes (#205)
  tests/unit/sanitize.test.ts
Due: none

fix(security): address review on the aikido fixes (#205)
  src/pdf-scanner/App.tsx
  src/shared/utils/sanitize.ts
  tests/unit/sanitize.test.ts
Due: unittests, integration-opencti, integration-openaev

test(security): cover sanitization through extractContent (#205)
  tests/unit/content-extractor-sanitize.test.ts
Due: none

fix(security): guard the remaining URL sinks (#205)
  src/background/handlers/misc-handlers.ts
  src/panel/hooks/useContainerActions.ts
  src/panel/hooks/useInvestigationActions.ts
  src/pdf-scanner/App.tsx
  src/popup/hooks/usePopupActions.ts
  src/shared/utils/safe-url.ts
  tests/unit/safe-url.test.ts
Due: unittests, integration-opencti, integration-openaev

fix(security): source the attached PDF from chrome.tabs (#205)
  src/panel/hooks/useContainerActions.ts
  tests/unit/resolve-active-pdf-url.test.ts
Due: unittests

fix(security): open external URLs through the tabs API (#205)
  src/shared/utils/safe-url.ts
  tests/unit/safe-url.test.ts
Due: unittests, integration-opencti, integration-openaev

fix(security): resolve aikido findings (#205) (#206)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  package-lock.json
  scripts/build.js
  src/background/handlers/misc-handlers.ts
  src/content/extraction.ts
  src/panel/App.tsx
  src/panel/hooks/useContainerActions.ts
  src/panel/hooks/useInvestigationActions.ts
  src/panel/utils/description-helpers.ts
  src/panel/views/OAEVAtomicTestingView.tsx
  src/panel/views/OAEVEntityView.tsx
  src/panel/views/OAEVScenarioView.tsx
  src/panel/views/OCTIEntityView.tsx
  src/panel/views/OCTIImportResultsView.tsx
  src/pdf-scanner/App.tsx
  src/popup/hooks/usePopupActions.ts
  src/shared/extraction/content-extractor.ts
  src/shared/extraction/pdf-generator.ts
  src/shared/utils/safe-url.ts
  src/shared/utils/sanitize.ts
  tests/unit/content-extractor-sanitize.test.ts
  tests/unit/resolve-active-pdf-url.test.ts
  tests/unit/safe-url.test.ts
  tests/unit/sanitize.test.ts
Due: unittests, integration-opencti, integration-openaev

fix(security): bump pdfjs-dist to 6.x (#205) (#207)
  package-lock.json
  package.json
Due: none

fix(ai): read the XTM One edition from agentic_enabled / edition instead of the retired deployment_tier (#216)
  src/shared/api/ai-client.ts
  tests/unit/ai-client.test.ts
Due: unittests, integration-opencti, integration-openaev

fix(ai): read the XTM One edition from agentic_enabled / edition instead of the retired deployment_tier (#216) (#217)
  src/shared/api/ai-client.ts
  tests/unit/ai-client.test.ts
Due: unittests, integration-opencti, integration-openaev

Update installation.md
  docs/installation.md
Due: none

fix(setup): prevent duplicate platforms and lost XTM One step in setup wizard (#220)
  src/popup/components/PlatformSetupForm.tsx
  src/popup/hooks/useSetupWizard.ts
Due: unittests

fix(setup): block Skip during Connect and read EE status from saved settings (#220)
  src/popup/components/PlatformSetupForm.tsx
  src/popup/hooks/useSetupWizard.ts
  tests/unit/setup-wizard.test.ts
Due: unittests

fix(setup): keep the OpenAEV step when settings cannot be read on skip (#220)
  src/popup/hooks/useSetupWizard.ts
  tests/unit/setup-wizard.test.ts
Due: unittests

Path conditions:
  unittests: any of: src/shared/, src/background/, src/content/, src/panel/, src/popup/, src/options/, src/pdf-scanner/, but not: **/*.d.ts, **/*.tsx, **/main.tsx, **/index.html, dist/**, node_modules/**, coverage/**, tests/**, scripts/**, docs/**
  integration-opencti: any of: src/shared/, src/background/, but not: **/*.d.ts, **/*.tsx, **/main.tsx, **/index.html, dist/**, node_modules/**, coverage/**, tests/**, scripts/**, docs/**
  integration-openaev: any of: src/shared/, src/background/, but not: **/*.d.ts, **/*.tsx, **/main.tsx, **/index.html, dist/**, node_modules/**, coverage/**, tests/**, scripts/**, docs/**
