Repository FiligranHQ/xtm-browser-extension: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration-opencti, integration-openaev

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecovyml-reference

coverage:
  precision: 2
  round: down
  range: "0...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  unittests:
    paths:
      - src/shared/
      - src/background/
      - src/content/
      - src/panel/
      - src/popup/
      - src/options/
      - src/pdf-scanner/
    carryforward: true
  integration-opencti:
    paths:
      - src/shared/
      - src/background/
    carryforward: true
  integration-openaev:
    paths:
      - src/shared/
      - src/background/
    carryforward: true

ignore:
  - "**/*.d.ts"
  - "**/*.tsx"
  - "**/main.tsx"
  - "**/index.html"
  - "dist/**"
  - "node_modules/**"
  - "coverage/**"
  - "tests/**"
  - "scripts/**"
  - "docs/**"

fix(detection): keep uppercase hashes when filtering scanned page text
  src/content/extraction.ts
  src/shared/detection/text-extraction.ts
  tests/unit/text-extraction.test.ts
Due: unittests, integration-opencti, integration-openaev

fix(detection): extract defanged URLs with a bracketed scheme colon
  src/shared/detection/patterns.ts
  tests/unit/detector.test.ts
  tests/unit/patterns.test.ts
  tests/unit/refang.test.ts
Due: unittests, integration-opencti, integration-openaev

fix(setup): match existing platforms by URL only, ignoring case (#220)
  src/options/App.tsx
  src/popup/hooks/useSetupWizard.ts
  src/shared/utils/formatters.ts
  tests/unit/formatters.test.ts
  tests/unit/setup-wizard.test.ts
Due: unittests, integration-opencti, integration-openaev

fix(setup): use the fresh EE result for a reconnected platform (#220)
  src/popup/hooks/useSetupWizard.ts
  tests/unit/setup-wizard.test.ts
Due: unittests

test(detection): guard the page text filter against dropping uppercase hashes
  tests/unit/page-content-scanning.test.ts
Due: none

fix(detection): keep hashes followed by a file name or path in scanned page text
  src/shared/detection/text-extraction.ts
  tests/unit/page-content-scanning.test.ts
  tests/unit/text-extraction.test.ts
Due: unittests, integration-opencti, integration-openaev

fix(detection): extract defanged URLs with brackets around the scheme slashes
  src/shared/detection/patterns.ts
  tests/unit/detector.test.ts
  tests/unit/patterns.test.ts
  tests/unit/refang.test.ts
Due: unittests, integration-opencti, integration-openaev

fix(highlighting): highlight defanged URLs when detection kept the clean form
  src/shared/detection/patterns.ts
  tests/unit/patterns.test.ts
Due: unittests, integration-opencti, integration-openaev

fix(setup): address review on platform reuse, skip, status and timeouts (#220)
  src/options/App.tsx
  src/popup/hooks/usePlatformStatus.ts
  src/popup/hooks/useSetupWizard.ts
  src/shared/api/ai-client.ts
  src/shared/platform/registry.ts
  src/shared/utils/formatters.ts
  tests/unit/ai-client.test.ts
  tests/unit/formatters.test.ts
  tests/unit/platform-registry.test.ts
  tests/unit/setup-wizard.test.ts
Due: unittests, integration-opencti, integration-openaev

ci(legacy): run CI on legacy branches and keep legacy releases off Latest (#225)
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none
