Repository FiligranHQ/xtm-browser-extension: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration-opencti, integration-openaev

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecovyml-reference

coverage:
  precision: 2
  round: down
  range: "0...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  unittests:
    paths:
      - src/shared/
      - src/background/
      - src/content/
      - src/panel/
      - src/popup/
      - src/options/
      - src/pdf-scanner/
    carryforward: true
  integration-opencti:
    paths:
      - src/shared/
      - src/background/
    carryforward: true
  integration-openaev:
    paths:
      - src/shared/
      - src/background/
    carryforward: true

ignore:
  - "**/*.d.ts"
  - "**/*.tsx"
  - "**/main.tsx"
  - "**/index.html"
  - "dist/**"
  - "node_modules/**"
  - "coverage/**"
  - "tests/**"
  - "scripts/**"
  - "docs/**"

[xtm-extension] Increase coverage
  src/background/handlers/types.ts
  tests/integration/openaev/client.test.ts
Due: unittests, integration-opencti, integration-openaev

[xtm-extension] Increase coverage
  tests/unit/client-registry.test.ts
  tests/unit/constants.test.ts
  tests/unit/refang.test.ts
  tests/unit/storage.test.ts
Due: none

[xtm-extension] Refacto
  src/background/handlers/opencti-handlers.ts
  src/background/handlers/platform-utils.ts
  src/panel/components/atomic-testing/AtomicTestingTargetForm.tsx
  src/panel/utils/platform-helpers.tsx
  src/panel/views/CommonPreviewView.tsx
  src/panel/views/OAEVAtomicTestingView.tsx
  src/panel/views/OCTIExistingContainersView.tsx
  src/shared/extraction/pdf-generator.ts
  tests/integration/openaev/client.test.ts
  tests/integration/opencti/client.test.ts
  tests/unit/client-registry-full.test.ts
  tests/unit/entity-utils-full.test.ts
  tests/unit/formatters-full.test.ts
  tests/unit/logger-full.test.ts
  tests/unit/matching.test.ts
  tests/unit/patterns.test.ts
Due: unittests, integration-opencti, integration-openaev

[xtm-extension] More tests
  CHANGELOG.md
  README.md
  src/background/handlers/ai-handlers.ts
  src/background/handlers/ai-utils.ts
  src/background/handlers/platform-utils.ts
  src/background/index.ts
  src/content/message-handlers.ts
  src/panel/components/scan-results/ScanResultsEntityItem.tsx
  src/panel/utils/cvss-helpers.ts
  src/panel/utils/injector-helpers.ts
  src/panel/utils/marking-helpers.ts
  src/panel/views/OAEVEntityView.tsx
  src/panel/views/OCTIEntityView.tsx
  src/pdf-scanner/App.tsx
  src/shared/api/openaev/filters.ts
  src/shared/api/opencti-client.ts
  src/shared/api/opencti/queries.ts
  src/shared/hooks/useTheme.ts
  tests/integration/openaev/client.test.ts
  tests/integration/opencti/client.test.ts
  tests/integration/test-helpers.ts
  tests/unit/cache-manager.test.ts
  tests/unit/client-manager.test.ts
  tests/unit/client-registry-full.test.ts
  tests/unit/client-registry.test.ts
  tests/unit/detector.test.ts
  tests/unit/entity-utils-full.test.ts
  tests/unit/entity-utils.test.ts
  tests/unit/formatters-full.test.ts
  tests/unit/formatters.test.ts
  tests/unit/logger-full.test.ts
  tests/unit/logger.test.ts
  tests/unit/misc-handlers.test.ts
  tests/unit/openaev-client.test.ts
  tests/unit/opencti-client.test.ts
  tests/unit/panel-utils.test.ts
  tests/unit/scan-handlers.test.ts
  tests/unit/storage.test.ts
Due: unittests, integration-opencti, integration-openaev

[xtm-extension] More tests
  src/content/highlighting.ts
  src/content/index.ts
  src/content/styles.ts
  src/content/utils/highlight.ts
  src/pdf-scanner/hooks/useMessageHandlers.ts
  src/pdf-scanner/utils/highlight-utils.ts
  src/shared/detection/matching.ts
  tests/unit/matching.test.ts
Due: unittests, integration-opencti, integration-openaev

[xtm-extension] More tests
  .github/workflows/ci.yml
  package-lock.json
  package.json
  playwright-report/index.html
  playwright-results.json
  playwright.config.ts
  src/content/highlighting.ts
  src/content/styles.ts
  src/pdf-scanner/utils/highlight-utils.ts
  src/shared/detection/detector.ts
  src/shared/detection/matching.ts
  test-results/.last-run.json
  tests/e2e/content-script.spec.ts
  tests/e2e/extension-helpers.ts
  tests/e2e/extension.spec.ts
  tests/e2e/fixtures/defanged-iocs.html
  tests/e2e/fixtures/empty-page.html
  tests/e2e/fixtures/threat-report.html
  tests/unit/ai-client.test.ts
  tests/unit/ai-entity-helpers.test.ts
  tests/unit/ai-handlers.test.ts
  tests/unit/ai-utils.test.ts
  tests/unit/cache-manager.test.ts
  tests/unit/client-registry.test.ts
  tests/unit/detector.test.ts
  tests/unit/entity.test.ts
  tests/unit/filters.test.ts
  tests/unit/formatters.test.ts
  tests/unit/highlight-colors.test.ts
  tests/unit/injector-helpers.test.ts
  tests/unit/json-parser.test.ts
  tests/unit/matching.test.ts
  tests/unit/openaev-handlers.test.ts
  tests/unit/opencti-handlers.test.ts
  tests/unit/patterns.test.ts
  tests/unit/platform-registry.test.ts
  tests/unit/prompts.test.ts
  tests/unit/storage.test.ts
Due: unittests, integration-opencti, integration-openaev

[xtm-extension] More tests
  .github/workflows/ci.yml
  .gitignore
  .nycrc.json
  package-lock.json
  package.json
  playwright-report/index.html
  playwright-results.json
  scripts/merge-coverage.js
  tests/e2e/content-script.spec.ts
  tests/e2e/coverage-utils.ts
  tests/e2e/extension.spec.ts
  vite.config.coverage.ts
Due: none

[xtm-extension] Prepare last release
  .github/workflows/ci.yml
  CHANGELOG.md
  package.json
  src/manifest.chrome.json
  src/manifest.edge.json
  src/manifest.firefox.json
  src/panel/App.tsx
  src/pdf-scanner/hooks/useMessageHandlers.ts
  src/pdf-scanner/hooks/usePanelManager.ts
  src/shared/constants.ts
Due: unittests, integration-opencti, integration-openaev

[xtm-extension] Remove playwright report
  playwright-report/index.html
Due: none

[xtm-extension] Remove test results
  .gitignore
  test-results/.last-run.json
Due: none

[xtm-extension] Fix vertical scrolling in overview
  src/panel/views/OAEVEntityView.tsx
  src/panel/views/OCTIEntityView.tsx
Due: none

[xtm-extension] Prepare release
  CHANGELOG.md
  package.json
  src/manifest.chrome.json
  src/manifest.edge.json
  src/manifest.firefox.json
  src/shared/constants.ts
Due: unittests, integration-opencti, integration-openaev

[xtm-extension] Fix bugs
  CHANGELOG.md
  package.json
  src/background/handlers/ai-handlers.ts
  src/manifest.chrome.json
  src/manifest.edge.json
  src/manifest.firefox.json
  src/options/components/AITab.tsx
  src/panel/views/OAEVAtomicTestingView.tsx
  src/shared/api/ai-client.ts
  src/shared/api/ai/prompts.ts
  src/shared/api/openaev-client.ts
  src/shared/constants.ts
  src/shared/types/ai.ts
  tests/unit/ai-handlers.test.ts
  tests/unit/openaev-client.test.ts
  tests/unit/prompts.test.ts
Due: unittests, integration-opencti, integration-openaev

[xtm-extension] Many bugfixes and improvements
  CHANGELOG.md
  package.json
  src/background/handlers/scan-handlers.ts
  src/background/index.ts
  src/content/highlighting.ts
  src/content/message-handlers.ts
  src/content/panel.ts
  src/manifest.chrome.json
  src/manifest.edge.json
  src/manifest.firefox.json
  src/panel/App.tsx
  src/panel/types/panel-types.ts
  src/panel/views/AddToScanResultsView.tsx
  src/panel/views/OAEVEntityView.tsx
  src/panel/views/OCTIAddView.tsx
  src/panel/views/OCTIInvestigationView.tsx
  src/pdf-scanner/utils/highlight-utils.ts
  src/shared/api/opencti-client.ts
  src/shared/constants.ts
  src/shared/detection/detector.ts
  src/shared/detection/patterns.ts
  src/shared/utils/entity.ts
  tests/manual/01-apt29-campaign.html
  tests/unit/entity-utils.test.ts
  tests/unit/entity.test.ts
  tests/unit/patterns.test.ts
Due: unittests, integration-opencti, integration-openaev

[xtm-extension] Update changelogs
  CHANGELOG.md
Due: none

[xtm-extension] Update changelogs
  CHANGELOG.md
  src/panel/App.tsx
  src/panel/hooks/useInvestigationState.ts
  src/panel/views/CommonScanResultsView.tsx
  src/panel/views/OCTIInvestigationView.tsx
Due: unittests

[xtm-extension] Update changelogs
  tests/manual/11-nothing.html
  vite.config.ts
Due: none

[xtm-extension] Update changelogs
  src/manifest.chrome.json
  src/manifest.edge.json
  src/manifest.firefox.json
Due: none

[xtm-extension] Update changelogs
  package.json
  src/manifest.chrome.json
  src/manifest.edge.json
  src/manifest.firefox.json
  src/shared/constants.ts
Due: unittests, integration-opencti, integration-openaev

[extension] Fix cancel button in split panel mode (#6)
  src/panel/App.tsx
Due: none

[extension] Fix select injects using AI (#4)
  src/panel/components/scenario/ScenarioInjectSelector.tsx
  src/shared/api/ai/prompts.ts
  src/shared/api/ai/types.ts
Due: unittests, integration-opencti, integration-openaev

[extension] Fix redirection after scenario generation (#5)
  src/panel/views/OAEVScenarioView.tsx
Due: none

[extension] Prepare for release
  CHANGELOG.md
  package-lock.json
  package.json
  src/manifest.chrome.json
  src/manifest.edge.json
  src/manifest.firefox.json
  src/shared/constants.ts
Due: unittests, integration-opencti, integration-openaev

[extension] Fix highlighting in some cases (#19)
  src/content/highlighting.ts
  src/content/utils/highlight.ts
  src/pdf-scanner/utils/highlight-utils.ts
  src/shared/detection/patterns.ts
Due: unittests, integration-opencti, integration-openaev

[extension] Upgrade
  CHANGELOG.md
  package-lock.json
  package.json
  src/manifest.chrome.json
  src/manifest.edge.json
  src/manifest.firefox.json
  src/shared/constants.ts
Due: unittests, integration-opencti, integration-openaev

[extension] Fix highligthing
  .stores/cover-440x280.png
  .stores/logo-300x-300.png
  .stores/screenshot1-1280x-800.png
  CHANGELOG.md
  src/content/highlighting.ts
Due: unittests

[docs] Enhance README
  README.md
Due: none

[extension] Fix AI in PDF, search, scrolling
  .stores/screenshot2-1280x-800.png
  package-lock.json
  package.json
  src/background/handlers/ai-handlers.ts
  src/background/index.ts
  src/manifest.chrome.json
  src/manifest.edge.json
  src/manifest.firefox.json
  src/options/App.tsx
  src/panel/App.tsx
  src/panel/views/CommonScanResultsView.tsx
  src/popup/hooks/useSetupWizard.ts
  src/shared/api/ai-client.ts
  src/shared/api/openaev-client.ts
  src/shared/api/opencti-client.ts
  src/shared/constants.ts
  src/shared/platform/registry.ts
  src/shared/utils/formatters.ts
Due: unittests, integration-opencti, integration-openaev

[extension] Enhance user experience
  src/panel/views/CommonScanResultsView.tsx
Due: none

[extension] Enhance user experience
  src/panel/components/scan-results/ScanResultsEntityItem.tsx
  src/panel/views/AddToScanResultsView.tsx
  src/panel/views/CommonScanResultsView.tsx
  src/panel/views/OCTIContainerFormView.tsx
  src/shared/constants.ts
  src/shared/detection/detector.ts
Due: unittests, integration-opencti, integration-openaev

[extension] Enhance user experience
  tests/unit/ai-client.test.ts
Due: none

[extension] Enhance user experience
  CHANGELOG.md
Due: none

[extension] Fix OAEV integration tests
  .github/workflows/ci.yml
  CHANGELOG.md
Due: none

[extension] Add support for local PDF files via file:// protocol
  src/background/index.ts
  src/manifest.chrome.json
  src/manifest.edge.json
  src/manifest.firefox.json
  src/pdf-scanner/App.tsx
  src/popup/App.tsx
  src/popup/hooks/usePlatformStatus.ts
  src/shared/types/messages.ts
Due: unittests, integration-opencti, integration-openaev

[extension] Fix scroll-to-entity for PDF scanner
  src/pdf-scanner/App.tsx
  src/pdf-scanner/hooks/useMessageHandlers.ts
Due: unittests

[ci] Add APP__ENCRYPTION_KEY to OpenCTI integration test config
  .github/workflows/ci.yml
Due: none

[extension] Fix bugs, remove dead code, and deduplicate logic
  src/background/handlers/opencti-handlers.ts
  src/panel/App.tsx
  src/panel/views/OAEVEntityView.tsx
  src/panel/views/OCTIEntityView.tsx
  src/pdf-scanner/App.tsx
  src/pdf-scanner/components/EntityTooltip.tsx
  src/pdf-scanner/components/PageRenderer.tsx
  src/pdf-scanner/hooks/useMessageHandlers.ts
  src/pdf-scanner/utils/highlight-utils.ts
  src/popup/hooks/usePlatformStatus.ts
  src/shared/utils/storage.ts
Due: unittests, integration-opencti, integration-openaev
