Repository FiligranHQ/xtm-browser-extension: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration-opencti, integration-openaev

[extension] Fix test regressions and restore close button behavior
  src/background/handlers/opencti-handlers.ts
  src/pdf-scanner/App.tsx
  src/pdf-scanner/utils/highlight-utils.ts
  tests/unit/storage.test.ts
Due: unittests, integration-opencti, integration-openaev

[extension] Fix close button in floating panel mode
  src/panel/App.tsx
Due: none

[extension] Bump version to 0.0.21, update copyrights to 2026, add changelog
  CHANGELOG.md
  README.md
  docs/README.md
  package-lock.json
  package.json
  src/manifest.chrome.json
  src/manifest.edge.json
  src/manifest.firefox.json
  src/options/components/AboutTab.tsx
  src/shared/constants.ts
Due: unittests, integration-opencti, integration-openaev

[extension] Add support for local PDF files (file:// protocol) (#63)
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
  docs/README.md
  package-lock.json
  package.json
  src/background/handlers/opencti-handlers.ts
  src/background/index.ts
  src/manifest.chrome.json
  src/manifest.edge.json
  src/manifest.firefox.json
  src/options/components/AboutTab.tsx
  src/panel/App.tsx
  src/panel/views/OAEVEntityView.tsx
  src/panel/views/OCTIEntityView.tsx
  src/pdf-scanner/App.tsx
  src/pdf-scanner/components/EntityTooltip.tsx
  src/pdf-scanner/components/PageRenderer.tsx
  src/pdf-scanner/hooks/useMessageHandlers.ts
  src/pdf-scanner/utils/highlight-utils.ts
  src/popup/App.tsx
  src/popup/hooks/usePlatformStatus.ts
  src/shared/constants.ts
  src/shared/types/messages.ts
  src/shared/utils/storage.ts
  tests/unit/storage.test.ts
Due: unittests, integration-opencti, integration-openaev

Fix extension losing workflow state when interacting with webpage (#86)
  src/background/handlers/misc-handlers.ts
  src/content/panel.ts
  src/panel/App.tsx
  src/shared/types/messages.ts
  src/shared/utils/storage.ts
Due: unittests, integration-opencti, integration-openaev

Fix ESLint errors: remove unused import and merge duplicate imports
  src/background/handlers/misc-handlers.ts
  src/content/panel.ts
Due: unittests, integration-opencti, integration-openaev

Clear persisted state when scan results are explicitly cleared
  src/panel/views/CommonScanResultsView.tsx
Due: none

Update unit tests for new panel state handlers
  tests/unit/messages.test.ts
  tests/unit/misc-handlers.test.ts
Due: none

Address Copilot review: fix stale closures, remove dead listener, improve validation
  src/background/handlers/misc-handlers.ts
  src/content/panel.ts
  src/panel/App.tsx
Due: unittests, integration-opencti, integration-openaev

Fix extension losing workflow state when interacting with webpage (#86)
  src/background/handlers/misc-handlers.ts
  src/content/panel.ts
  src/panel/App.tsx
  src/panel/views/CommonScanResultsView.tsx
  src/shared/types/messages.ts
  src/shared/utils/storage.ts
  tests/unit/messages.test.ts
  tests/unit/misc-handlers.test.ts
Due: unittests, integration-opencti, integration-openaev

Release 0.0.22
  CHANGELOG.md
  package-lock.json
  package.json
  src/manifest.chrome.json
  src/manifest.edge.json
  src/manifest.firefox.json
  src/shared/constants.ts
Due: unittests, integration-opencti, integration-openaev

chore: align with Filigran Conventional Commits & label conventions (#109)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/LABELS.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labels.yml
  CONTRIBUTING.md
Due: none

chore: align with Filigran Conventional Commits & label conventions (#109) (#110)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/LABELS.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labels.yml
  CONTRIBUTING.md
Due: none

chore: align CI PR-title check & complete issue templates (#111)
  .github/LABELS.md
  .github/workflows/validate-pr-title.yml
Due: none

chore: align CI PR-title check & complete issue templates (#111) (#112)
  .github/LABELS.md
  .github/workflows/validate-pr-title.yml
Due: none

chore(renovate): emit Conventional Commits titles (#116)
  renovate.json
Due: none

chore(renovate): emit Conventional Commits titles (#116) (#117)
  renovate.json
Due: none

chore: align issue templates across repositories (#118)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yaml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Due: none

chore: align issue templates across repositories (#118) (#119)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yaml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Due: none

chore: audit & align issue templates (#120)
  .github/ISSUE_TEMPLATE/config.yml
Due: none

chore: audit & align issue templates (#120) (#121)
  .github/ISSUE_TEMPLATE/config.yml
Due: none

chore(dependabot): emit Conventional Commits titles (#122)
  .github/dependabot.yml
Due: none

chore(dependabot): emit Conventional Commits titles (#122) (#123)
  .github/dependabot.yml
Due: none

chore: finalize issue templates (scoped titles + ordering) (#124)
  .github/ISSUE_TEMPLATE/1-bug_report.md
  .github/ISSUE_TEMPLATE/2-feature_request.md
  .github/ISSUE_TEMPLATE/3-documentation.yaml
  .github/ISSUE_TEMPLATE/4-question.md
Due: none

chore: finalize issue templates (scoped titles + ordering) (#124) (#125)
  .github/ISSUE_TEMPLATE/1-bug_report.md
  .github/ISSUE_TEMPLATE/2-feature_request.md
  .github/ISSUE_TEMPLATE/3-documentation.yaml
  .github/ISSUE_TEMPLATE/4-question.md
Due: none

docs: clarify primary type labels are issues-only (PRs use ownership labels) (#126)
  .github/LABELS.md
  .github/labels.yml
  CONTRIBUTING.md
Due: none

docs: clarify primary type labels are issues-only (PRs use ownership labels) (#126) (#127)
  .github/LABELS.md
  .github/labels.yml
  CONTRIBUTING.md
Due: none

docs: restrict pull request labels to ownership only (filigran team / community) (#128)
  .github/LABELS.md
  .github/labels.yml
  CONTRIBUTING.md
Due: none

docs: restrict pull request labels to ownership only (filigran team / community) (#128) (#129)
  .github/LABELS.md
  .github/labels.yml
  CONTRIBUTING.md
Due: none

docs: define the allowed pull request label set (ownership, vibe-coded, language, dependencies) (#130)
  .github/LABELS.md
  .github/labels.yml
  CONTRIBUTING.md
Due: none

docs: define the allowed pull request label set (ownership, vibe-coded, language, dependencies) (#130) (#131)
  .github/LABELS.md
  .github/labels.yml
  CONTRIBUTING.md
Due: none

Fix Dia browser popup compatibility
  src/popup/hooks/usePopupActions.ts
  src/popup/hooks/useSetupWizard.ts
Due: unittests

fix(ci): fix Playwright browser install hanging during extraction
  .github/workflows/ci.yml
  package-lock.json
  package.json
Due: none

fix(ci): fix Playwright browser install hanging during extraction (#134)
  .github/workflows/ci.yml
  package-lock.json
  package.json
Due: none

fix(ci): skip PR title validation for dependabot (#137)
  .github/workflows/validate-pr-title.yml
Due: none

fix(ci): skip PR title validation for dependabot (#137) (#138)
  .github/workflows/validate-pr-title.yml
Due: none

fix: dia browser popup compatibility (#132)
  src/popup/hooks/usePopupActions.ts
  src/popup/hooks/useSetupWizard.ts
Due: unittests

chore: update Renovate config to be aligned with other Filigran products (#158)
  renovate.json
  renovate.json5
Due: none

fix(pdf): support CJK characters in PDF snapshots (#103)
  .gitattributes
  src/assets/fonts/NotoSansCJK-Regular.ttf
  src/content/extraction.ts
  src/shared/extraction/cjk-font.ts
  src/shared/extraction/pdf-generator.ts
  tests/unit/cjk-font.test.ts
  tests/unit/pdf-generator.test.ts
  vite.config.ts
Due: unittests, integration-opencti, integration-openaev

Path conditions:
  unittests: any of: src/shared/, src/background/, src/content/, src/panel/, src/popup/, src/options/, src/pdf-scanner/, but not: **/*.d.ts, **/*.tsx, **/main.tsx, **/index.html, dist/**, node_modules/**, coverage/**, tests/**, scripts/**, docs/**
  integration-opencti: any of: src/shared/, src/background/, but not: **/*.d.ts, **/*.tsx, **/main.tsx, **/index.html, dist/**, node_modules/**, coverage/**, tests/**, scripts/**, docs/**
  integration-openaev: any of: src/shared/, src/background/, but not: **/*.d.ts, **/*.tsx, **/main.tsx, **/index.html, dist/**, node_modules/**, coverage/**, tests/**, scripts/**, docs/**
